.ss {
  position: absolute;
  transition-property: all;
  transition-delay: 500ms;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background-size: contain;
}

#ss1 {
  background-image: url("../assets/images/patient-profile.png");
}

#ss2 {
  background-image: url("../assets/images/patient-ui.png");
}

#ss3 {
  background-image: url("../assets/images/doctors-ui.png");
}

#ss4 {
  background-image: url("../assets/images/main-ui.png");
}

.ss_hidden {
  display: none;
}

.ss_0 {
  transform: translate(-100px, -100px);
  opacity: 0;
  z-index: 1;
}

.ss_1 {
  opacity: 1;
  transform: translate(-50px, -50px);
  z-index: 2;
}

.ss_2 {
  transform: translate(0px, 0px);
  z-index: 3;
}

.ss_3 {
  transform: translate(50px, 50px);
  z-index: 4;
}

.ss_4 {
  transform: translate(100px, 100px);
  opacity: 0;
}
